.menu-margin {
  margin-left: "62px";
  margin-right: "64px";
  margin-top: "70px";
  margin-bottom: "74px";
}

.button-margin {
  margin-top: "74px";
  margin-left: "62px";
}

.table-container {
  margin-top: "74px";
}
